<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="_greetings_command_event">
        <observer name="_greetings_command_observer"
                  instance="\Greetings\Observer\GreetingsCommandObserver" />
    </event>
</config>
