<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Grid\Ui\DataProvider\Category\ListingDataProvider">
        <plugin name="_grid_attributes" type="\Grid\Plugin\AddAttributesToUiDataProvider" />
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="_grid_category_listing_data_source" xsi:type="string">GridCategoryCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="GridCategoryCollection" type="\Grid\Ui\DataProvider\Category\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">catalog_category_entity</argument>
            <argument name="resourceModel" xsi:type="string">\Grid\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>
</config>
